<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head"></head>
<body>
    <header th:insert="fragments.html :: nav"></header>
    <div class="content">
        <h1>Admin Page</h1>

        <div class="stats">
            <div class="stats-item">
                <table>
                    <thead><h2>Users</h2></thead>
                    <tbody>
                    <tr>
                        <th>Username</th>
                        <th>User Type</th>
                    </tr>
                    <tr th:each="userEntity: ${users}">
                        <td th:text="${userEntity.getUsername()}"></td>
                        <td th:text="${userEntity.getAuthority()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-item">
                <table>
                    <thead><h2>Publishers</h2></thead>
                    <tbody>
                    <tr>
                        <th>Name</th>
                        <th>Address</th>
                        <th>Email</th>
                        <th>Phone Number</th>
                        <th>Bank Account Number</th>
                    </tr>
                    <tr th:each="publisherEntity: ${publishers}">
                        <td th:text="${publisherEntity.getName()}"></td>
                        <td th:text="${publisherEntity.getAddress().toString()}"></td>
                        <td th:text="${publisherEntity.getEmail()}"></td>
                        <td th:text="${publisherEntity.getPhone()}"></td>
                        <td th:text="${publisherEntity.getBankAccountNo()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-item">
                <table>
                    <thead><h2>Books</h2></thead>
                    <tbody>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Genre</th>
                        <th>Pages</th>
                        <th>Price</th>
                        <th>Publisher Percentage</th>
                        <th>In Stock</th>
                    </tr>
                    <tr th:each="bookEntity: ${books}">
                        <td th:text="${bookEntity.getISBN()}"></td>
                        <td th:text="${bookEntity.getTitle()}"></td>
                        <td th:text="${bookEntity.getAuthorName()}"></td>
                        <td th:text="${bookEntity.getPublisher().getName()}"></td>
                        <td th:text="${bookEntity.getGenre()}"></td>
                        <td th:text="${bookEntity.getPages()}"></td>
                        <td th:text="'$' + ${bookEntity.getPrice()}"></td>
                        <td th:text="${bookEntity.getPublisherPercentage()*100} + '%'"></td>
                        <td th:text="${bookEntity.getStockQuantity()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-item">
                <table>
                    <thead><h2>Purchases</h2></thead>
                    <tbody>
                    <tr>
                        <th>ISBN</th>
                        <th>Date of Purchase</th>
                        <th>Quantity</th>
                        <th>Total Cost</th>
                    </tr>
                    <tr th:each="purchaseEntity: ${purchases}">
                        <td th:text="${purchaseEntity.getId().getISBN()}"></td>
                        <td th:text="${purchaseEntity.getId().getDate()}"></td>
                        <td th:text="${purchaseEntity.getId().getQuantity()}"></td>
                        <td th:text="'$' + ${purchaseEntity.getTotalCost()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-item">
                <table>
                    <thead><h2>Orders</h2></thead>
                    <tbody>
                    <tr>
                        <th>Order Number</th>
                        <th>Ordered by</th>
                        <th>Location</th>
                        <th>Status</th>
                        <th>Order Date</th>
                        <th>Billing Address</th>
                        <th>Shipping Address</th>
                        <th>Total</th>
                    </tr>
                    <tr th:each="orderEntity: ${orders}">
                        <td th:text="${orderEntity.getOrderNo()}"></td>
                        <td th:text="${orderEntity.getUser().getUsername()}"></td>
                        <td th:text="${orderEntity.getLocation()}"></td>
                        <td th:text="${orderEntity.getStatus()}"></td>
                        <td th:text="${orderEntity.getDate()}"></td>
                        <td th:text="${orderEntity.getBillingAddress().toString()}"></td>
                        <td th:text="${orderEntity.getShippingAddress().toString()}"></td>
                        <td th:text="'$' + ${orderEntity.getTotal()}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="stats-item">
                <table>
                    <thead><h2>Finances</h2></thead>
                    <tbody>
                    <tr>
                        <th>Income</th>
                        <th>Expenses</th>
                        <th>Profit</th>
                    </tr>
                    <tr>
                        <td th:text="'$' + ${income}"></td>
                        <td th:text="'$' + ${expenses}"></td>
                        <td th:text="'$' + ${profit}"></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>