<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <title>Alphinaud's Tomes</title>
</head>
<div th:fragments="nav">
    <nav class="main-nav">
        <div class="nav-item nav-title">Alphinaud's Tomes</div>
        <form class="nav-item" sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
            <button class="nav-button" type="submit">Logout</button>
        </form>
        <form class="nav-item" sec:authorize="isAnonymous()" method="get" th:action="@{/register}">
            <button class="nav-button" type="submit">Register</button>
        </form>
        <form class="nav-item" sec:authorize="isAnonymous()" method="get" th:action="@{/login}">
            <button class="nav-button" type="submit">Login</button>
        </form>
        <a class="nav-item nav-button" sec:authorize="isAuthenticated()" th:href="@{/}">Home</a>
    </nav>
</div>
<body>
</body>
</html>