<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:fragment="head">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/css/style.css}">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" th:href="@{/img/favicon.ico}"/>
    <title>Alphinaud's Tomes</title>
</head>
<div th:fragments="nav" class="nav-container">
    <nav class="main-nav">
        <a class="nav-item nav-title nav-button" th:href="@{/}">Alphinaud's Tomes</a>
        <div class="right-nav">
            <form th:if="${cart != null and !cart.empty}" class="nav-item" sec:authorize="isAuthenticated()" method="post" th:action="@{/user/confirm_cart}">
                <button class="nav-button" type="submit" th:text="'Cart (' + ${#lists.size(cart.keySet())} + ')'"><img src="../static/img/carticon.ico" th:src="@{/img/carticon.ico}" width="20px" height="20px" /></button>
            </form>
            <form class="nav-item" sec:authorize="isAuthenticated()" method="post" th:action="@{/logout}">
                <button class="nav-button" type="submit">Logout</button>
            </form>
            <form class="nav-item" sec:authorize="isAnonymous()" method="get" th:action="@{/register}">
                <button class="nav-button" type="submit">Register</button>
            </form>
            <form class="nav-item" sec:authorize="isAnonymous()" method="get" th:action="@{/login}">
                <button class="nav-button" type="submit">Login</button>
            </form>
        </div>
    </nav>
</div>
<body>
</body>
</html>