<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:insert="fragments.html :: head"></head>
<body>
    <header th:insert="fragments.html :: nav"></header>
    <div class="content centered">
        <div class="stats">
            <div class="stats-item">
                <table>
                    <thead><h2>Books</h2></thead>
                    <tbody>
                    <tr>
                        <th>ISBN</th>
                        <th>Title</th>
                        <th>Author</th>
                        <th>Publisher</th>
                        <th>Genre</th>
                        <th>Pages</th>
                        <th>Price</th>
                        <th>In Stock</th>
                        <th sec:authorize="isAuthenticated()"></th>
                    </tr>
                    <tr th:each="bookEntity: ${books}">
                        <td th:text="${bookEntity.getISBN()}"></td>
                        <td th:text="${bookEntity.getTitle()}"></td>
                        <td th:text="${bookEntity.getAuthorName()}"></td>
                        <td th:text="${bookEntity.getPublisher().getName()}"></td>
                        <td th:text="${bookEntity.getGenre()}"></td>
                        <td th:text="${bookEntity.getPages()}"></td>
                        <td th:text="'$' + ${bookEntity.getPrice()}"></td>
                        <td th:text="${bookEntity.getStockQuantity()}"></td>
                        <td sec:authorize="isAuthenticated()" class="td-no-pad">
                            <form th:action="@{/user/cart(ISBN=${bookEntity.getISBN()}, qty=1)}" th:method="post">
                                <button type="submit" class="cart-button">Add To Cart</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="right-stats" th:if="${cart != null and !cart.empty}">
                <div class="stats-item">
                    <table>
                        <thead><h2>Cart</h2></thead>
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Qty</th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                        <tr th:each="bookEntity: ${#lists.sort(cart.keySet())}">
                            <td th:text="${bookEntity.getTitle()}"></td>
                            <td th:text="'$' + ${bookEntity.getPrice()}"></td>
                            <td th:text="${cart.get(bookEntity)}"></td>
                            <td class="td-no-pad">
                                <form th:action="@{/user/cart(ISBN=${bookEntity.getISBN()}, qty=1)}" th:method="post">
                                    <button type="submit" class="cart-button">+</button>
                                </form>
                            </td>
                            <td class="td-no-pad">
                                <form th:action="@{/user/cart(ISBN=${bookEntity.getISBN()}, qty=1)}" th:method="delete">
                                    <button type="submit" class="cart-button">-</button>
                                </form>
                            </td>
                            <td class="td-no-pad">
                                <form th:action="@{/user/cart(ISBN=${bookEntity.getISBN()}, qty=999)}" th:method="delete">
                                    <button type="submit" class="cart-button">X</button>
                                </form>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <form th:action="@{/user/confirm_cart}" th:method="post">
                        <button type="submit" class="cart-button">Confirm Cart</button>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>