<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments.html :: head"></head>
<body>
    <header th:insert="fragments.html :: nav"></header>
    <div class="content centered">
        <div class="error" th:if="${param.error}">
            Invalid username and password.
            <br/>
        </div>
        <form th:action="@{/login}" method="post">
            <div>
                <label for="username">User Name: </label>
                <br/>
                <input id="username" type="text" name="username"/>
            </div>
            <div>
                <label for="password">Password: </label>
                <br/>
                <input id="password" type="password" name="password"/></div>
            <input class="login-register-button" type="submit" value="Login"/>
        </form>
    </div>
</body>
</html>