<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security" lang="en">
<head th:insert="fragments.html :: head"></head>
<body>
<header th:insert="fragments.html :: nav"></header>
<div class="content">
    <div th:if="${cart != null and !cart.empty}" class="order-review">
        <p class="error" th:if="${#fields.hasErrors('orderForm')}" th:errors="*{order}">Order Error</p>
        <div class="stats order centered">
            <form class="stats" th:action="@{/order}" th:method="post" th:object="${orderForm}">
                <input type="hidden" th:field="*{user}" th:value="${user}"/>
                <div class="stats-item label-input-inline">
                    <h2>Billing Address</h2>
                    <label for="b_address_name">Address Name: </label><span><input id="b_address_name" type="text" th:field="*{billingAddress.name}" th:text="${user?.billingAddress?.name}"/></span><br/>
                    <label for="b_address_postal_code">Postal Code: </label><span><input id="b_address_postal_code" type="text" th:field="*{billingAddress.postalCode}" th:text="${user?.billingAddress?.postalRegion?.postalCode}"/></span><br/>
                    <label for="b_address_province">Province: </label><span><input id="b_address_province" type="text" th:field="*{billingAddress.province}" th:text="${user?.billingAddress?.postalRegion?.province}"/></span><br/>
                    <label for="b_address_town">City/Town: </label><span><input id="b_address_town" type="text" th:field="*{billingAddress.town}" th:text="${user?.billingAddress?.postalRegion?.town}"/></span><br/>
                    <label for="b_address_street">Street Address: </label><span><input id="b_address_street" type="text" th:field="*{billingAddress.streetAddress}" th:text="${user?.billingAddress?.streetAddress}"/></span><br/>
                    <label for="b_address_save">Save this Billing Address? </label><span><input id="b_address_save" type="checkbox" th:field="*{saveBilling}" th:value="${user?.billingAddress != null}"/></span><br/>
                </div>
                <div class="stats-item label-input-inline">
                    <h2>Shipping Address</h2>
                    <label for="s_address_name">Address Name: </label><span><input id="s_address_name" type="text" th:field="*{shippingAddress.name}" th:text="${user?.shippingAddress?.name}"/></span><br/>
                    <label for="s_address_postal_code">Postal Code: </label><span><input id="s_address_postal_code" type="text" th:field="*{shippingAddress.postalCode}" th:text="${user?.shippingAddress?.postalRegion?.postalCode}"/></span><br/>
                    <label for="s_address_province">Province: </label><span><input id="s_address_province" type="text" th:field="*{shippingAddress.province}" th:text="${user?.shippingAddress?.postalRegion?.province}"/></span><br/>
                    <label for="s_address_town">City/Town: </label><span><input id="s_address_town" type="text" th:field="*{shippingAddress.town}" th:text="${user?.shippingAddress?.postalRegion?.town}"/></span><br/>
                    <label for="s_address_street">Street Address: </label><span><input id="s_address_street" type="text" th:field="*{shippingAddress.streetAddress}" th:text="${user?.shippingAddress?.streetAddress}"/></span><br/>
                    <label for="s_address_save">Save this Shipping Address? </label><span><input id="s_address_save" type="checkbox" th:field="*{saveShipping}" th:value="${user?.shippingAddress != null}"/></span><br/>
                </div>
                <div class="stats-item">
                    <table>
                        <thead><h2>Cart</h2></thead>
                        <tbody>
                        <tr>
                            <th>Title</th>
                            <th>Price</th>
                            <th>Qty</th>
                        </tr>
                        <tr th:each="bookEntity: ${cart.keySet()}">
                            <td th:text="${bookEntity.getTitle()}"></td>
                            <td th:text="'$' + ${bookEntity.getPrice()}"></td>
                            <td th:text="${cart.get(bookEntity)}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="stats-item">
                    <h2><strong th:text="'Total: $' + ${total}" ></strong></h2>
                    <button type="submit" class="cart-button">Place Order</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>